@import "tailwindcss";

@plugin "daisyui/theme" {
    name: "nord";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(13% 0.028 261.692);
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(86% 0.005 56.366);
    --color-primary-content: oklch(14% 0.004 49.25);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(90% 0.182 98.111);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(44% 0.03 256.802);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 2rem;
    --radius-field: 0rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
